.top-nav {
  padding: 4px 10px;
  margin-bottom: 5px;
  background: @black;
  background-color: rgba(0,0,0, 0.5);
  
  .back {
    font-family: @logoFontFamily;
  }
  
}

.heading { 
  margin: 20px 0;
  min-width: 320px;
  font-family: @logoFontFamily;
  text-align: center; 
}

#wall {
  margin: 0;
  list-style: none;
  padding-top: 5px;
  
  li {
    float: left;
    padding:0 0 3px 3px;
  }
  
  img {
    border: 1px solid @white;
    cursor: pointer;
  }
}

/*.back {
  display: block;
  color: @black;
}*/

.portrait {
  margin: 3px 8px;
  border: 2px solid @white;
}