body {
  margin: 0;
  padding: 0;
  background: url(../img/bg2.jpg);
}

#container {
  width: 320px;
  height: 460px;
  margin: 0 auto;
}

#page {
  height: 420px;
  position: absolute;
  top: 0;
}

#navbar {
  height: 40px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

h1 {
  font-family: @headingsFontFamily;
}
