.tags {
  list-style: none;
  margin: 0;
  
  li {
    float: left;
    display: block;
    height: 26px;
    background-image: url(../img/background/tag-tip.png);
    background-repeat: no-repeat;
    background-position: top left;
    margin-left: -10px;
    
    a {
      color: #666;
      display: block;
      margin-left: 20px;
      height: 26px;
      padding: 4px 15px 0 0;
      background-image: url(../img/background/tag.png);
      background-repeat: no-repeat;
      background-position: top right;
    }
  }
  li:first-child {
    background-image: url(../img/background/tag-tip-first.png);
    background-repeat: no-repeat;
    background-position: top left;
    margin-left: 0px;
  }
}

.btn-back {
  margin-top: 4px;
  background-image: url(../img/background/back-tip.png);
  background-repeat: no-repeat;
  height: 30px;
  padding: 0 5px 0 18px;
  display: block;
  
  span {
    display: inline-block;
    height: 30px;
    background-image: url(../img/background/back.png);
    background-repeat: no-repeat;
    background-position: top right;
    padding: 0 10px 0 0;
    line-height: 29px;
  }
}