doctype 5
html(lang="en")
  head
    if (typeof title != "undefined")
      title= title
      
    link(href="/css/fimo.css", rel="stylesheet")
    script(src="/browserify.js")
  body
    .container!= body

